<% content_for :page_stylesheet do %>
  <%= stylesheet_link_tag "home", "data-turbo-track": "reload" %>
<% end %>

<div class="home">
  <section class="home__filters"></section>
  <section class="home__games"></section>
  <section class="home__feed"></section>
</div>