<header class="app__header">
  <nav class="navigation">
    <ul role="list" class="navigation__links">
      <li>Live Games</li>
      <li>Past Games</li>
      <li>Player Results</li>
    </ul>
  </nav>
</header>